[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
pytest = "*"
psycopg2-binary = "*"
pytest-django = "*"
pybase62 = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
